{
    "plugins": ["prettier-plugin-jinja-template"],
    "bracketSameLine": true,
    "overrides": [
        {
            "files": ["*.html"],
            "options": {
                "parser": "jinja-template"
            }
        }
    ]
}
