{% extends "layouts/instructor.html" %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item">
                <a href="/my-schedules/{{ schedule.id }}">
                    {{ schedule.subject.descriptive_title }}
                </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                Attendance Records
            </li>
        </ol>
    </nav>

    <div class="card">
        <div class="card-body">
            <div class="input-group mb-3" style="max-width: 16rem;">
                <span class="input-group-text" id="basic-addon1">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-calendar-date"
                        viewBox="0 0 16 16">
                        <path
                            d="M6.445 11.688V6.354h-.633A13 13 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23" />
                        <path
                            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                    </svg>
                </span>
                <input type="text" id="date-picker" class="form-control" />
            </div>

            <div id="table-container" class="table-responsive"></div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.datatables.net/buttons/3.0.0/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.0/js/buttons.dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.0.0/js/buttons.colVis.min.js"></script>

    <script>
        function fetchTable(dateText) {
            fetch(
                `/schedules/{{ schedule.id }}/attendance/_table?date=${dateText}`,
            )
                .then((response) => response.text())
                .then((html) => {
                    const tableContainer =
                        document.getElementById("table-container");
                    tableContainer.innerHTML = html;

                    new DataTable("#attendance-table", {
                        layout: {
                            topStart: {
                                buttons: [
                                    {
                                        extend: "excelHtml5",
                                        exportOptions: {
                                            columns: [0, 1, 2, 4],
                                        },
                                    },
                                ],
                            },
                        },
                    });

                    $(".dt-button")
                        .addClass("btn btn-dark")
                        .text("Export to Excel");
                });
        }

        $(function () {
            var datePicker = $("#date-picker").datepicker({
                onSelect: function (dateText) {
                    fetchTable(dateText);
                },
            });
            datePicker.datepicker("setDate", new Date());

            fetchTable(datePicker.val());
        });
    </script>
{% endblock %}
