{% extends "layouts/admin.html" %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <ul class="nav mb-3 nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/instructors">
                        Instructors
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/students">
                        Students
                    </a>
                </li>
            </ul>

            <div class="d-flex mb-3 justify-content-between">
                <h1 class="h4 fw-bold">Students</h1>
                <a href="/admin/students/create" class="btn btn-primary">
                    New student
                </a>
            </div>

            <table id="students-table" class="table">
                <thead>
                    <tr>
                        <td class="text-start">Student ID</td>
                        <td>Name</td>
                        <td>Course</td>
                        <td class="text-end">Action</td>
                    </tr>
                </thead>
                {% for student in students %}
                    <tr>
                        <td class="text-start">{{ student.student_id }}</td>
                        <td>{{ student.user.name }}</td>
                        <td>{{ student.course.name }}</td>
                        <td class="text-end">
                            <a
                                href="/admin/students/{{ student.id }}/edit"
                                class="badge text-decoration-none text-bg-success">
                                Edit
                            </a>
                            <a
                                href="/admin/students/{{ student.id }}/delete"
                                class="badge text-decoration-none text-bg-danger">
                                Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        new DataTable("#students-table");
    </script>
{% endblock %}
