{% extends "layouts/admin.html" %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h1 class="h4 fw-bold">Create subject</h1>

            <form action="" method="post">
                {{ form.hidden_tag() }}

                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form.course_ids.label(class="form-label") }}

                        {% if not form.course_ids.errors %}
                            {{ form.course_ids(class="form-select") }}
                        {% else %}
                            {{ form.course_ids(class="form-select is-invalid") }}
                            <div class="invalid-feedback">
                                {{ form.course_ids.errors[0] }}
                            </div>
                        {% endif %}
                    </div>
                    <div
                        class="col-md-6 d-flex flex-column justify-content-end">
                        {{ form.units.label(class="form-label") }}
                        {{ form.units(class="form-control") }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form.year_level.label(class="form-label") }}
                        {{ form.year_level(class="form-control") }}
                    </div>
                    <div class="col-md-6">
                        {{ form.semester.label(class="form-label") }}
                        {{ form.semester(class="form-select") }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form.descriptive_title.label(class="form-label") }}
                        {{ form.descriptive_title(class="form-control") }}
                    </div>
                    <div class="col-md-6">
                        {{ form.course_number.label(class="form-label") }}
                        {{ form.course_number(class="form-control") }}
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        {{ form.lecture_hours.label(class="form-label") }}
                        {{ form.lecture_hours(class="form-control") }}
                    </div>
                    <div class="col-md-6">
                        {{ form.laboratory_hours.label(class="form-label") }}
                        {{ form.laboratory_hours(class="form-control") }}
                    </div>
                </div>

                <div>
                    <a href="/admin/subjects" class="btn btn-secondary">
                        Cancel
                    </a>
                    <button type="submit" class="btn btn-primary">
                        Create subject
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
