{% extends "layouts/admin.html" %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h1 class="h4 fw-bold">Create instructor</h1>

            <form action="" method="post" style="max-width: 28rem;">
                {{ form.hidden_tag() }}

                <div class="mb-3">
                    {{ form.department_id.label(class="form-label") }}
                    {{ form.department_id(class="form-select") }}
                </div>

                <div class="mb-3">
                    {{ form.name.label(class="form-label") }}
                    {{ form.name(class="form-control") }}
                </div>

                <div class="mb-3">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control") }}
                </div>

                <div class="mb-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control") }}
                </div>

                <div>
                    <a href="/admin/instructors" class="btn btn-secondary">
                        Cancel
                    </a>
                    <button type="submit" class="btn btn-primary">
                        Create instructor
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
